<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"> 
        <link rel="icon" href="/img/weather.png">
    </head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Larry June. It uses API data from Mapbox and Weatherstack.</p>
        <img class="portrait" src="/img/larry_organic.jpg">
    </div>

    {{>footer}}
</body>



</html>